#join
{
	font-size:18px;
	float:left;
	padding: 20px 20px 20px 20px;
	margin-left: 90px;
}

#join input::-webkit-input-placeholder,
#join input:-moz-placeholder
{
color: #A6A6A6;
}

#join input
{
	background: #fff url(../ico_validation.png) no-repeat 190px;
	display: inline-block;
	width: 180px;
	border: 1px solid #fff;
	padding: 3px 26px 3px 3px;
	margin-bottom:20px;
}

#join select
{
	display: inline-block;
	width: 120px;
	border: 1px solid #fff;
	padding: 3px 3px 3px 3px;
}
	
#join input:focus:required:invalid
{
	background-color: pink;
	outline: none;
}

#join input[type=text]:focus:not([pattern]):required:invalid
{
	background-color: #fff;
}

#join input:required:valid
{
	background-color: #fff;
	background-position: 190px -61px;
}

.anketatext
{
float:left; 
padding-right:10px;
color:white;
font-size:20px;
font-weight:bold;
font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
letter-spacing:1px;
}

.anketa 
{
clear:both; 
text-align:right;
line-height:25px;
}

.signup 
{
margin-top:30px;
margin-left:-10px;
}