ul
{
width:115px;
list-style:none;
margin:0;
padding:0;
font-family:Arial, sans-serif;
font-size:12pt;
left:14px;
text-decoration:none;
position:relative;
top:20px;
}

ul li 
{
    position: relative; /* Подпункты позиционируются относительно */
}

li ul
{
    position: absolute; /* Подменю позиционируются абсолютно */
    display: none; /* Скрываем подменю */
    top: 0; /* По высоте положение подменю исходное */
    left: 125px; /* Сдвигаем подменю вправо */
    z-index: 1; /* Основное меню находится ниже подменю */
}

ul li ul li ul li	
{
    display: none; /* Скрываем подменю */
}
   
ul li ul li:hover ul li
{
	display: block;
}

ul li:hover li:hover li:hover li a 
{
	background: yellow; /*  */
}

ul li:hover li:hover li a:hover, ul li:hover li:hover li:hover a 
{
	background: rgb(170, 224, 183); /* При наведении цвет третьего подменю */
}

ul li:hover li:hover li a 
{
	background: transparent; /* При наведении на второе подменю цвет третьего подменю */
}

ul li:hover li:hover a 
{
	background: rgb(170, 224, 183); /* При наведении на третье подменю цвет второго подменю */
}

ul li:hover li a:hover 
{
	background: rgb(170, 224, 183); /* При наведении цвет второго подменю */
}

ul a:hover, ul li:hover a 
{
	background: rgb(170, 224, 183);  /* При наведении цвет первого подменю */
}

ul li:hover li a 
{
	background: transparent; /* При наведении на первое подменю цвет второго подменю */
}

#menu li a:visited {
	color:brown;
	text-decoration:none;
	outline:none;
}

#menu li a
{	
	text-decoration: none;
	padding:5px;
    display: block;/* Ссылка как блочный элемент */
    width: 100%; /* Ссылка на всю ширину пункта */
    text-decoration: none; /* Подчеркивание у ссылок убираем */
    color: black; /* Цвет текста */
    border-bottom: none; /* Границу снизу не проводим */
	font-weight:bold;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
	letter-spacing:1px;
}

#menu li:hover ul 
{
	display: block; /*  При выделении пункта курсором мыши отображается подменю */
}