*
{
	margin:0 auto;
	padding:0;
}

html
{
	height:100%;
	margin:0px;
	padding:0px;
}

body
{
	text-align:center; /*For IE6 Shenanigans*/
	-webkit-text-size-adjust:none;
	margin:0 auto;
	padding:0px;
	width:1200px;
	background-color:grey;
}

h1, h2, h3 {
	font-weight:normal;	
}

h1 {
	font-size: 1.375em; /* 16x1.375=22px */
	line-height: 1.636em;/* 16x1.636=36px */
	margin: 0;
}

h2 {
	font-size: 1.125em; /* 16x1.125=18px */
	margin:1em 0; /* 18x1=18px */
}

#tdupper
{
width:1200px;
height:100px;
}

#tdleft
{
	width:405px;
	height:540px;
	text-align:left;
	vertical-align:top;
	background-image: url('/images/monitor.png');
	background-repeat:no-repeat;
}

#tdright
{
	width:736px;
	height:540px;
	text-align:center;
	vertical-align:top;
	background-image:url('/images/doska.jpg');
	background-repeat:no-repeat;
}

#tdbottom
{
	background:grey;
	text-align:center;
	vertical-align:middle;
	height:18px;
	width:1200px;
	border:2px solid white;
	font-size:14px;
	border-collapse:collapse;
}

#tdcomments
{
	width:736px;
	height:540px;
	text-align:right;
	vertical-align:top;
	background-image:url('/images/doska.jpg');
	background-repeat:no-repeat;
	float:right;
}

.text_tdright
{
	font-size:20px;
	font-weight:bold;
	letter-spacing:3px;
	color:white;
	margin-top:40px;
	margin-bottom:10px;
	font-family:"Comic Sans MS";
	width:696px;
}

.img
{
	width:75px;
	height:120px;
	float:left;
}

.indoska
{
	color:white;
	font-size:15px;
	font-family:"Comic Sans MS";
}

.indoska a
{
	color:white;
}

.nadpis
{
	padding-top:25px;
	font-size:16px;
	font-family:"Comic Sans MS";
	margin-bottom:20px;
}

.block
{
	width:225px;
	height:140px;
}

.tooltip
{
	position:relative;
	z-index:24;
}

.tooltip span
{
	display:none;
}

.tooltip:hover
{
	z-index:25;
}

.tooltip:hover span
{
	display:block;
	position:absolute;
	width:120px;
	top:30px;
	left:-70px;
	background-color:#FCFBDC;
	border:1px solid #333333;
	padding:5px;
	font-size:11px;
	color:#333333;
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.list
{
	width:135px;
	height:40px;
	padding:0 45px 0 45px;
}

.text_list
{
	padding-top:25px;
	font-size:20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:20px;
}

.tooltiplist
{
	position:relative;
	z-index:24;
}

.tooltiplist span
{
	display:none;
}

.tooltiplist:hover
{
	z-index:25;
}

.tooltiplist:hover span
{
	display:block;
	position:absolute;
	width:120px;
	top:10px;
	left:-65px;
	background-color:#FCFBDC;
	border:1px solid #333333;
	padding:5px;
	font-size:11px;
	color:black;
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	opacity:0.7;
}

.podgotovka_left
{
	font-size:16px;
	font-weight:bold;
	letter-spacing:3px;
	color:white;
	font-family:"Comic Sans MS";
	float:left;
	width:52%;
	margin-top:5px;
}

.podgotovka_right
{
	font-size:16px;
	font-weight:bold;
	letter-spacing:3px;
	color:white;
	font-family:"Comic Sans MS";
	float:right;
	width:48%;
	margin-top:5px;
}

.text_podgotovka_left
{
	float:left;
	margin-left:35px;
	width:130px;
	height:30px;
	letter-spacing:1px;
}

.text_podgotovka_right
{
	margin-right:40px;
	width:130px;
	height:30px;
	letter-spacing:1px;
}

.in_a
{
	color:white;
	font-size:10px;
	font-family:"Comic Sans MS";
}

.tooltippodgotovka
{
	position:relative;
	z-index:24;
}

.tooltippodgotovka span
{
	display:none;
}

.tooltippodgotovka:hover
{
	z-index:25;
}

.tooltippodgotovka:hover span
{
	display:block;
	position:absolute;
	width:120px;
	top:-15px;
	left:-65px;
	background-color:#FCFBDC;
	border:1px solid #333333;
	padding:5px;
	font-size:8px;
	color:black;
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	opacity:0.7;
	letter-spacing:0px;
}

.search
{
	width:300px;
}

.text_input
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:white;
	float:left;
}

.text_choose
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:white;
	margin-top:30px;
	margin-bottom:15px;
	margin-left:45px;
	text-align:left;
	font-weight:bold;
	letter-spacing:2px;
	width:696px;
}

.thanks
{
	margin: auto;
	color: yellow;
	top: 570px;
	position: absolute;
	left: 600px;
}